body {
  background-color: midnightblue;
  }/* Give your page a fun background color */

h1, footer {
  color: #157672;
  }/* Make the header and footer a different color from the background */

h1 {
  text-align: center;
  font-size: 60px
  }/* Align the h1 containing your name in the center of the header*/

p {
  color: #6D9DB2;
  font-style: italic;
  font-size: 40px
  }/* Make your p tag a different color and italic */

img {
  border:20px solid #1E90FF;
  }/* Put a border around your image */

ul {
  color: #AFF0ED;
  font-size: 20px
  }/* Change the font-family of your list */
